<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <strong>Charon | IoT - Cloud</strong>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/instances">
                        <i class="fa fa-desktop"></i> Instances
                    </a>
                </li>
                <li>
                    <a href="#/volumes">
                        <i class="fa fa-database"></i> Volumes
                    </a>
                </li>
                <li>
                    <a href="#/networks">
                        <i class="fa fa-globe"></i> Networks
                    </a>
                </li>

                <li>
                    <a href="#/security">
                        <i class="fa fa-key"></i> Access
                    </a>
                </li>
                <li>
                    <a href="#/templates">
                        <i class="fa fa-linux"></i> Templates
                    </a>
                </li>
                <li>
                    <a href="#/flavors">
                        <i class="fa fa-cogs"></i> Flavors
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i> Log out</a>
                </li>
            </ul>

        </div>
    </div>

</nav>
