<form class="form-horizontal col-lg-6">

    <div class="form-group">
        <label for="instance" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="instance" ng-model="nameVolume" placeholder="Volume Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="desc" ng-model="descriptionVolume" placeholder="Volume description" required>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select class="form-control" ng-options="type as type.name for type in types track by flavor.id" ng-model="typeSelected"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="size" class="col-sm-2 control-label">Size</label>
        <div class="col-sm-10">
            <div class="">
                <div class="range range-primary">
                    <input type="range" name="range" min="1" max="10" ng-model="sizeVolume">
                    <output>{{sizeVolume}}</output>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-submit="createVolume()" class="btn btn-default">Create</button>
        </div>
    </div>
</form>
