<div ng-if="hideMessage">
    <div ng-class="typeMessage()" role="alert">
        <strong>{{alertMessage}}</strong>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <a href="#/createVolume" class="btn btn-primary">
            <i class="fa fa-plus"></i>
        </a>
        <h1 class="text-center">Volumes</h1>
    </div>

    <div ng-if="waiting">
        <div class="text-center">
            <h3>Deleting Volume<br><small>Please wait</small></h3>
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
    </div>

</div>


<div class="row" ng-if="!waiting">
    <h3 class="text-info text-center" ng-if="volumes.length <= 0">No Volumes to list!</h3>
    <div class="col-lg-12">
        <div ng-repeat="volume in volumes track by $index">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="text-center">
                        <i class="fa fa-database fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="caption text-center">
                        <h3>{{volume.name}}</h3>
                        <p>
                            <b>Status: </b>{{volume.status}}
                        </p>
                        <p>
                            <b>Description: </b>{{volume.description}}
                        </p>
                        <p>
                            <b>Size: </b>{{volume.size}} GB
                        </p>
                        <p>
                            <b>Type: </b>{{volume.volumeType}}
                        </p>
                        <span ng-if="volume.attachments.length <= 0">
                            <b>Attachments: <span class="text-success"> FREE</span></b>
                        </span>
                        <span ng-if="volume.attachments.length > 0">
                          <p>
                            <b>Attachments: </b>{{volume.attachments[0]}}
                          </p>
                        </span>

                        <p class="text-right">
                            <a ng-click="destroyVolume(volume, $index)">
                                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
