<div ng-if="hideMessage" class="col-md-12" style="position: absolute">
    <div ng-class="typeMessage()" role="alert">
        <strong>{{alertMessage}}</strong>
    </div>
</div>


<div class="container-fluid">
    <div class="col-lg-12">
        <h1 class="page-header">
            Volumes
            <a href="#/createVolume" class="btn btn-primary pull-right">
              <i class="fa fa-plus"></i>
            </a>
        </h1>
    </div>
    <div ng-if="waiting">
        <div class="text-center">
            <h3>{{waitingMessage}}<br><small>Please wait</small></h3>
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
    </div>

</div>


<div class="row" ng-if="!waiting">
    <h3 class="text-info text-center" ng-if="volumes.length <= 0">No Volumes to list!</h3>
    <div class="col-lg-12">
        <div ng-repeat="volume in volumes track by $index">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="text-center">

                        <i class="fa fa-database fa-4x" aria-hidden="true"></i>

                    </div>
                    <div class="caption text-center">
                        <h3>{{volume.name}}</h3>
                        <p>
                            <b>ID: </b>{{volume.id}}
                        </p>
                        <p>
                            <b>Status: </b>{{volume.status}}
                        </p>
                        <p>
                            <b>Description: </b>{{volume.description}}
                        </p>
                        <p>
                            <b>Size: </b>{{volume.size}} GB
                        </p>
                        <p>
                            <b>Type: </b>{{volume.volumeType}}
                        </p>

                        <span ng-if="volume.attachments.length <= 0">
                            <b>Attachments: <span class="text-success"> FREE</span>
                        </span>
                        <span ng-if="volume.attachments.length > 0">
                          <p>
                            <b>Attachments: </b>
                            <span ng-repeat="server in servers | filter:volume.attachments[0].server_id">
                              {{ server.name }}<br>
                            </span>
                        </p>
                        </span>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-if="volume.attachments.length <= 0"><a class="pointer" ng-click="destroyVolume(volume, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></li>
                            <li ng-if="volume.attachments.length <= 0">
                                <a class="pointer" ng-click="volumeAttachOptions(volume.id)">
                                    <i class="fa fa-paperclip" aria-hidden="true"></i> Attach
                                </a>
                            </li>
                            <li ng-if="!volume.attachments.length <= 0">
                                <a class="pointer" ng-click="volumeDetach(volume.attachments[0].server_id, volume.id)">
                                    <i class="fa fa-chain-broken" aria-hidden="true"></i> Detach
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
