<div class="container-fluid">
    <h1 class="page-header">Server</h1>
    <div ng-if="waiting">
        <div class="text-center">
            <h3>Creating Instance<br><small>Please wait</small></h3>
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
    </div>

</div>


<div ng-if="!waiting" class="container">
    <form class="" ng-submit="createInstance(nameInstance, imageSelected.id, flavorSelected.id, keySelected, groupSelected)">
        <div class="row">
            <h3 class="text-center">Instance Basic</h3>
            <div class="form-group">
                <label for="instance">Name</label>
                <input type="text" class="form-control" id="instance" ng-model="nameInstance" placeholder="Instance Name" required>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <select class="form-control" ng-options="image as image.name for image in images track by image.id" ng-model="imageSelected"></select>
            </div>
            <div class="form-group">
                <label for="flavor">Flavor</label>
                <select class="form-control" ng-options="flavor as flavor.name for flavor in flavors track by flavor.id" ng-model="flavorSelected"></select>
            </div>

        </div>
        <div class="row">
            <h3 class="text-center">Security and Access</h3>
            <div class="form-group">
                <label for="key">SSH_KEY</label>
                <select class="form-control" ng-options="key as key.keypair.name for key in keys track by key.id" ng-model="keySelected"></select>
            </div>
            <div class="form-group">
                <label for="group">Group</label>
                <select class="form-control" ng-options="group as group.name for group in groups track by group.id" ng-model="groupSelected"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-block">Create</button>
            </div>
        </div>
    </form>

</div>
