<h3 class="text-info text-center">{{server.name}}</h3>
<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Instance Information
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td>Name</td>
              <td>{{server.name}}</td>
          </tr>
          <tr>
              <td>ID</td>
              <td>{{server.id}}</td>
          </tr>
          <tr>
                <td>Image</td>
                <td>{{server.image.name}}</td>
            </tr>
            <tr>
                <td>Flavor</td>
                <td>{{server.flavor.name}}</td>
            </tr>
            <tr>
                <td>Disk</td>
                <td>{{server.flavor.disk}} GB</td>
            </tr>
            <tr>
                <td>Memory RAM</td>
                <td>{{server.flavor.ram}} MB</td>
            </tr>
            <tr>
                <td>Cores</td>
                <td>{{server.flavor.vcpus}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{server.status}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{server.addresses.private[0].addr}}</td>
            </tr>
            <tr>
                <td>Created</td>
                <td>{{server.created | date:'MM/dd/yyyy HH:MM'}}</td>
            </tr>
            <tr>
                <td>Last update</td>
                <td>{{server.updated | date:'MM/dd/yyyy HH:MM'}}</td>
            </tr>

        </tbody>
    </table>

</div>
<div class="row text-center">
  <button class="btn btn-warning" ng-click="generateImage()">Generate image from this instance</button>
</div>
