<div class="container-fluid">
    <h1 class="page-header">Templates</h1>
    <div class=" table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        <b>Name</b>
                    </th>
                    <th>
                        <b>ID</b>
                    </th>
                    <th>
                        <b>Status</b>
                    </th>
                    <th>
                        <b>Progress</b>
                    </th>
                    <th>
                        <b>Created</b>
                    </th>
                    <th>
                        <b>Updated</b>
                    </th>
                    <th class="text-right">
                        <b>Delete</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in images track by $index">
                    <td>
                        {{image.name}}
                    </td>
                    <td>
                        {{image.id}}
                    </td>
                    <td>
                        {{image.status}}
                    </td>
                    <td>
                        <div class="text-success" ng-if="image.progress == 100">
                            <b>Completed!</b>
                        </div>
                        <div ng-if="image.progress < 100">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{image.progress}} " aria-valuemin="0" aria-valuemax="100"
                                    style="width: {{image.progress}}%">
                                    <span class="sr-only">{{image.progress}} 40% Complete</span>
                                </div>
                            </div>
                            <span class=""><b>{{image.progress}} %</b></span>
                        </div>
                    </td>
                    <td>
                        {{image.created | date:'dd/MM/yyyy HH:MM'}}
                    </td>
                    <td>
                        {{image.updated | date:'dd/MM/yyyy HH:MM'}}
                    </td>
                    <td class="text-right">
                        <a class="pointer" ng-click="deleteImage(image)">
                            <i class="fa fa-trash-o fa-2x"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
