<%- include layout/header -%>
<%- include layout/navbar -%>
<div ng-view></div>
<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="/vendor/angular-route/angular-route.js"></script>
<script src="/vendor/angular-resource/angular-resource.js"></script>
<script src="/js/routes.js"></script>
<script src="/js/config/init.js"></script>
<script src="/js/config/messages.js"></script>
<script src="/js/controllers/HomeController.js"></script>
<script src="/js/controllers/instances/InstancesController.js"></script>
<script src="/js/controllers/instances/EditController.js"></script>
<script src="/js/controllers/instances/CreateController.js"></script>
<script src="/js/controllers/volumes/VolumesController.js"></script>
<script src="/js/controllers/volumes/VolumesCreateController.js"></script>
<script src="/js/controllers/volumes/VolumeAttachController.js"></script>
<script src="/js/controllers/networks/NetworkController.js"></script>
<script src="/js/controllers/security/SecurityController.js"></script>
<script src="/js/controllers/security/SshController.js"></script>
<script src="/js/controllers/info/InfoController.js"></script>
<%- include layout/footer -%>
