<div class="row col-lg-6">
    <form ng-submit="createKey(keyName, sshKey)">
        <h3 class="text-center">Access</h3>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" ng-model="keyName" required>
        </div>
        <div class="form-group">
            <label for="ssh">SSH_KEY</label>
            <textarea class="form-control" ng-model="sshKey" rows="5" id="ssh" placeholder="SSH_key" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-block">Register</button>
        </div>
    </form>
</div>
